{#<div class="content">#}
{##}
{#    <button data-modal-id="add_column" class="ui labeled icon green button modal-button">#}
{#        <i class="add circle icon"></i>#}
{#        Add New Column#}
{#    </button>#}
{##}
{#    <button data-modal-id="add_metric" class="ui labeled icon blue button modal-button">#}
{#        <i class="add circle icon"></i>#}
{#        Add New Metric#}
{#    </button>#}
{##}
{#    <table class="ui table">#}
{#        <thead>#}
{#            {% for count in metric_count %}#}
{#                <label>Metric</label>#}
{#                <select name="metric_{{ forloop.counter }}" class="selectpicker" data-title="Select Metric" data-style="btn-default btn-block"#}
{#                        data-menu-style="dropdown-blue">#}
{#                    {% for metric in owned_metrics %}#}
{#                        <option value="{{ metric.pk }}">{{ metric }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            {% endfor %}#}
{#        </thead>#}
{#        <tbody>#}
{#            <td>Something</td>#}
{#            <td>Something</td>#}
{#            <td>Something</td>#}
{#        </tbody>#}
{#    </table>#}
{#</div>#}
{#<hr>#}
{#<div align="center" class="actions">#}
{#    <div class="ui button">Cancel</div>#}
{#    <div class="ui button primary">Save</div>#}
{#</div>#}
{##}
{#<div id="add_column" class="ui modal">#}
{#    <i class="close icon"></i>#}
{#    <div class="header">#}
{#        New Column#}
{#    </div>#}
{#    <div class="content">#}
{#        <div class="ui form">#}
{#            <form action="/your-name/" method="post">#}
{#                {% csrf_token %}#}
{##}
{#                <div class="ui field">#}
{#                    {{ column_form.name.errors }}#}
{#                    {{ column_form.name.label_tag }}#}
{#                    {{ column_form.name }}#}
{#                </div>#}
{#                <div class="ui field">#}
{#                    {{ column_form.metric.errors }}#}
{#                    {{ column_form.metric.label_tag }}#}
{#                    {{ column_form.metric }}#}
{#                </div>#}
{##}
{#                <input type="submit" value="Submit"/>#}
{#            </form>#}
{#        </div>#}
{##}
{#    </div>#}
{#</div>#}
{##}
{#<div id="add_metric" class="ui modal">#}
{#    <i class="close icon"></i>#}
{#    <div class="header">#}
{#        New Metric#}
{#    </div>#}
{#    <div class="content">#}
{#        <div class="ui form">#}
{#            <form action="/metric/create" method="post">#}
{#                {% csrf_token %}#}
{##}
{#                <div class="ui field">#}
{#                    {{ metric_form.name.errors }}#}
{#                    {{ metric_form.name.label_tag }}#}
{#                    {{ metric_form.name }}#}
{#                </div>#}
{#                <div class="ui field">#}
{#                    {{ metric_form.description.errors }}#}
{#                    {{ metric_form.description.label_tag }}#}
{#                    {{ metric_form.description }}#}
{#                </div>#}
{#                <div class="ui field">#}
{#                    {{ metric_form.key.errors }}#}
{#                    {{ metric_form.key.label_tag }}#}
{#                    {{ metric_form.key }}#}
{#                </div>#}
{#                <div class="ui field">#}
{#                    {{ metric_form.owner.errors }}#}
{#                    {{ metric_form.owner.label_tag }}#}
{#                    {{ metric_form.owner }}#}
{#                </div>#}
{##}
{#                <input type="submit" value="Submit"/>#}
{#            </form>#}
{#        </div>#}
{##}
{#    </div>#}
{#</div>#}