{% extends 'rest_framework_swagger/base.html' %}
{% load staticfiles %}

{% block title %}<title>Codalab Competitions API Docs</title>{% endblock %}


{% block favicon %}
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}" />
{% endblock %}


{% block extra_styles %}
    <link href='{% static "css/api.css" %}' rel='stylesheet' type='text/css'/>
{% endblock %}


{% block logo %}
    <a id="logo" href="http://swagger.io">
        <img src="{% static "img/codalab-logo-fullcolor-positive.png" %}">
    </a>
{% endblock %}
