{% extends 'forums/base_forum.html' %}

{% block forum_content %}
    <div class="ui horizontal divider">Create Post</div>

    <form action="." method="POST" class="ui form">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        <div class="field">
            <label style="font-size: 16px">Content</label>
            <textarea name="content" id="id_content" required spellcheck="true"></textarea>
        </div>
        <div class="field">
            <button type="submit" class="ui button green">Submit</button>
        </div>
    </form>
{% endblock %}
