*.pyc
__pycache__
.pytest_cache/

.env
.env_s3
.envrc

node_modules/
staticfiles/
uploads/
venv/
var/
certs/
migrations/

src/static/output.css
src/static/output.js
src/static/riot.js
src/static/riot.tag
src/static/generated/*

db.sqlite3

.idea
