*.pyc
__pycache__
.pytest_cache/

.env
.envrc

node_modules/
staticfiles/
uploads/
venv/
var/
var_*/
certs/
backups/
logs/

src/static/output.css
src/static/output.js
src/static/riot.js
src/static/riot.tag
src/static/generated/*

db.sqlite3

celerybeat-schedule
package-lock.json
artifacts/

docker-compose.override.yml

server_config.yaml
/graphs/
/codabench/

.DS_Store
.DS_Store?

caddy_config/
caddy_data/

home_page_counters.json
