{$DOMAIN_NAME} {
	tls {$TLS_EMAIL} {
		ca https://acme.sectigo.com/v2/OV
		eab {$EAB_KID} {$EAB_HMAC}
	}

	# Test HTTPS setup
	#tls {$TLS_EMAIL} {
	#	ca https://acme-staging-v02.api.letsencrypt.org/directory
	#}

	# Serves static files, should be the same as `STATIC_ROOT` setting
	root * /var/www/django
	file_server

	# Serves dynamic requests
	@notStatic {
		not path /static/*
		not path /media/*
	}
	reverse_proxy @notStatic django:8000

	encode gzip

	log {
		output stdout
	}
}
