{$DOMAIN_NAME} {
  # HTTPS options:
  tls {$TLS_EMAIL}

  # Test HTTPS setup
  # tls {$TLS_EMAIL} {
  #   ca https://acme-staging-v02.api.letsencrypt.org/directory
  # }

  # Removing some headers for improved security:
  header / -Server

  # Serves static files, should be the same as `STATIC_ROOT` setting:
  root /var/www/django

  # Serving dynamic requests:
  proxy / django:8000 {
    except /static /media
    transparent
  }

  # Allows to use `.gz` files when available:
  gzip

  # Logs:
  log stdout
  errors stdout
}
