{% extends "base.html" %}

{% block below_header %}
    {% include "components/supported_by_banner.html" %}
{% endblock %}

{% block content %}

    <!-- Announcements -->
    {% include "components/announcements.html" %}

    <!-- Featured, Popular and Recent benchmarks -->
    {% include "components/benchmarks.html" %}

    <!-- Get Started -->
    {% include "components/get_started.html" %}

    <!-- About, with the stats inside it -->
    {% include "components/about.html" %}

    <!-- Latest News -->
    {% include "components/news.html" %}

    <!-- Cite Codabench -->
    {% include "components/citation.html" %}

    <!-- Partners -->
    {% include "components/partners.html" %}

{% endblock %}
