{% extends "base.html" %}

{% load staticfiles %}

{% block top_div_extra_class %}jumbotron{% endblock %}

{% block top_div_extra_content %}

    <div class="ui text container">
        {#            <h1 class="ui inverted header">#}
        {#                Codalab Competitions#}
        {#            </h1>#}
        <img id="jumbo_logo" src="{% static "img/codalab-logo-onecolor-reverse.png" %}">
        <h2>Accelerating reproducible computational research.</h2>
        {#            <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>#}

        <a href="{% url "pages:search" %}" class="ui huge primary button"><i class="left arrow icon"></i> Compete</a>
        <a href="{% url "pages:organize" %}" class="ui huge primary button">Organize <i class="right arrow icon"></i></a>
    </div>

    {#        <div class="ui middle aligned stackable grid container">#}
    {#            <div class="row">#}
    {#                <div class="fourteen wide column centered">#}
    {#                    <div class="ui fluid category search">#}
    {#                        <div class="ui fluid icon input">#}
    {#                            <input class="prompt" type="text" placeholder="Search machine learning...">#}
    {#                            <i class="search icon"></i>#}
    {#                        </div>#}
    {#                        <div class="results fluid"></div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}

{% endblock %}

{% block content %}

{% endblock %}
