{% extends "base.html" %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <div class="ui container">

            <div class="ui segment">
                <worker-monitor-toggle
                    can_view_workers_panel="true"
                    all_workers="true"
                    inline_mode="true">
                </worker-monitor-toggle>
            </div>

            <div id="external_monitors" class="ui segment">
                <a class="ui labeled icon button"
                   href="{{ RABBITMQ_MANAGEMENT_URL }}"
                   target="_blank"
                   rel="noopener noreferrer">
                    <i class="chart area icon"></i>
                    RabbitMQ
                </a>
                <a class="ui labeled icon button"
                   href="{{ FLOWER_URL }}"
                   target="_blank"
                   rel="noopener noreferrer">
                    <i class="sitemap icon"></i>
                    Flower
                </a>
            </div>

        </div>
    {% endif %}
{% endblock %}