{% extends "base.html" %}
{% load static %}


{% block extra_head %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <div class="ui container">
                <h1>Monitor queues</h1>
                <div id="external_monitors" class="ui two column grid">
                    <div class="column">
                        <div class="ui fluid card">
                            <a class="image" href="{{ RABBITMQ_MANAGEMENT_URL}}" target="_blank">
                                <img class="ui large image" src="{% static 'img/RabbitMQ.png' %}">
                            </a>
                            <div class="content">
                                <a class="header" href="{{ RABBITMQ_MANAGEMENT_URL }}" target="_blank">RabbitMQ</a>
                                <div class="meta">
                                    This page allows admins to view connections, queued messages, message rates, channels,
                                    exchanges, and other administrative features relating to RabbitMQ e.g. Creating users,
                                    adding v-hosts, and creating policies.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui fluid card">
                            <a class="image" href="{{ FLOWER_URL }}" target="_blank">
                                <img class="ui large image" src="{% static 'img/Flower.png' %}">
                            </a>
                            <div class="content">
                                <a class="header" href="{{ FLOWER_URL }}" target="_blank">Flower</a>
                                <div class="meta">
                                    Flower is a powerful web-based Celery monitoring tool designed to keep track of our
                                    tasks.
                                    Admins may view the state of which tasks were run, with what arguments, and many more
                                    features. Here you may also view which queues your celery workers are consuming, and the
                                    state of any tasks in them. At last, there is also a great monitoring page for viewing
                                    the
                                    systemic impact of your workers.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="ui container">
                <div class="ui red message">
                    You do not have access to this page!
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="ui container">
            <div class="ui yellow message">
                <a href="{% url 'accounts:login' %}">Log In</a> or
                <a href="{% url 'accounts:signup' %}">Sign Up</a> to view this page
            </div>
        </div>
    {% endif %}
    
{% endblock %}
