{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <div class="ui container">
        <h1>Recent submissions (up to 250 or 2 days old)</h1>
        <table class="ui table">
            <thead>
            <th>Competition</th>
            <th>Submission PK</th>
            <th>Submitter</th>
            <th>Hostname</th>
            <th>Submitted at</th>
            <th>Status</th>
            </thead>
            <tbody>
                {% if not submissions %}
                <tr>
                    <td colspan="5"><i>No submissions, yet!</i></td>
                </tr>
                {% endif %}
                {% for submission in submissions %}
                <tr>
                    <td><a class="link-no-deco" target="_blank" href="./competitions/{{ submission.phase.competition.id }}">{{ submission.phase.competition.title }}</a></td>
                    <td>{{ submission.pk }}</td>
                    <td><a target="_blank" href="/profiles/user/{{ submission.owner.username }}">{{ submission.owner.username }}</a></td>
                    <td>{{ submission.worker_hostname }}</td>
                    <td>{{ submission.created_when|timesince }} ago</td>
                    <td>{{ submission.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1>Monitor queues</h1>
        <div id="external_monitors" class="ui two column grid">
            <div class="column">
                <div class="ui fluid card">
                    <a class="image" href="//{{ RABBITMQ_MANAGEMENT_URL }}" target="_blank">
                        <img class="ui large image" src="/static/img/RabbitMQ.png">
                    </a>
                    <div class="content">
                        <a class="header" href="//{{ RABBITMQ_MANAGEMENT_URL }}" target="_blank">RabbitMQ</a>
                        <div class="meta">
                            This page allows admins to view connections, queued messages, message rates, channels,
                            exchanges, and other administrative features relating to RabbitMQ e.g. Creating users,
                            adding v-hosts, and creating policies.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <a class="image" href="//{{ FLOWER_URL }}" target="_blank">
                        <img class="ui large image" src="/static/img/Flower.png">
                    </a>
                    <div class="content">
                        <a class="header" href="//{{ FLOWER_URL }}" target="_blank">Flower</a>
                        <div class="meta">
                            Flower is a powerful web-based Celery monitoring tool designed to keep track of our
                            tasks.
                            Admins may view the state of which tasks were run, with what arguments, and many more
                            features. Here you may also view which queues your celery workers are consuming, and the
                            state of any tasks in them. At last, there is also a great monitoring page for viewing
                            the
                            systemic impact of your workers.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
