{% extends "base.html" %}


{% block content %}
<div class="sixteen wide mobile eight wide computer centered column">
        <img src="/static/img/404.png">
        <p>Could not find the page you requested.</p>
        <p>If you are the challenge organizer and this URL previously pointed to a valid competition and it is now missing please contact us at info@codabench.org for more information.</p>
        <p> If this is an error, please file a <a href="https://github.com/codalab/codabench/issues/new">bug report</a>. For more information about Codabench, check out the <a href="https://docs.codabench.org">docs</a>.</p>
        <a class="ui fluid blue submit button" href="/">Return to Home</a>
</div>
{% endblock %}
