{% extends "base.html" %}


{% block content %}
<div class="sixteen wide mobile eight wide computer centered column">
        <img src="/static/img/404.png">
        <p>Something went wrong on our end.</p>
        <p>Our team has been notified. If the problem persists, please contact us at info@codabench.org.</p>
        <p>If this is an error, please file a <a href="https://github.com/codalab/codabench/issues/new">bug report</a>. For more information about Codabench, check out the <a href="https://docs.codabench.org">docs</a>.</p>
        <a class="ui fluid blue submit button" href="/">Return to Home</a>
</div>
{% endblock %}
