<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Banned</title>
        <style>
        body { text-align:center; font-family:Arial, sans-serif; padding-top:100px;}
        h1 {color:#e74c3c;}
        p {font-size: 20px;}
        </style>
</head>
<body>
        <img src="/static/img/banned.png">
        <h1>You are banned from using Codabench</h1>
        <p>If this is an error, please file a <a target="_blank" href="https://github.com/codalab/codabench/issues/new">bug report</a>.</p>
</body>
</html>
