{% load static %}
{% load announcement_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block title %}Codabench{% endblock %}</title>
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>

    <!-- Vendor -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <link rel="stylesheet" href="{% static "css/calendar.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Ours -->
    <link rel="stylesheet" href="{% static "generated/output.css" %}">

    <!-- Latex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css">

    {% block extra_head %}
    {% endblock %}
</head>
<body>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
        <script type=text/javascript>
            window.addEventListener('load', function () {
                toastr.{{ message.tags }}('{{ message }}')
                })
        </script>
        {% elif message.tags == 'info' %}
        <script type=text/javascript>
            window.addEventListener('load', function () {
                toastr.{{ message.tags }}('{{ message }}')
                })
        </script>
        {% elif message.tags == 'warning' %}
        <script type=text/javascript>
            window.addEventListener('load', function () {
                toastr.{{ message.tags }}('{{ message }}')
                })
        </script>
        {% elif message.tags == 'error' %}
        <script type=text/javascript>
            window.addEventListener('load', function () {
                toastr.{{ message.tags }}('{{ message }}')
                })
        </script>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- Sidebar Menu -->
{% include "components/mobile_menu.html" %}

<div class="pusher">
    <!-- Platform announcements -->
    {% platform_announcements_banner %}
    <!-- Page Contents -->
    {% include "components/header.html" %}
    {% block below_header %}{% endblock %}
</div>
{% block sticky_button %}

{% endblock %}
<div id="page_content" class="ui container grid">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% include "components/footer.html" %}
    {# Admin only user switching #}
    <user_switch></user_switch>

    <!-- Vendor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"
            integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.13.2/riot+compiler.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{% static "js/calendar.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.4.15/purify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.13.1/build/global/luxon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/filesize/4.2.1/filesize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js" integrity="sha256-mLCPYHfNREhSETFQGuowilY3zBAZGnDO2cxCnCEm8/I=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@^2.0.5"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <!-- Markdown-->
    <script src="https://cdn.jsdelivr.net/npm/marked@18.0.12/lib/marked.umd.min.js"></script>
    <!-- Latex -->
    <script src="https://cdn.jsdelivr.net/npm/katex@0.18.7/dist/katex.min.js"></script>
    <!-- Ours -->



    <script>
        {# From `common_settings` context processor #}
        STORAGE_TYPE = "{{ STORAGE_TYPE }}"
        MAX_EXECUTION_TIME_LIMIT = "{{ MAX_EXECUTION_TIME_LIMIT }}"
        CURRENT_DATE_TIME = "{% now "c" %}"
        CODALAB = {
            state: {
                user: JSON.parse("{{ USER_JSON_DATA|escapejs }}"),
                public_env_variables: {
                    MAX_EXECUTION_TIME_LIMIT:MAX_EXECUTION_TIME_LIMIT
                }
            }
        }

        {# Doing this here to append functionality to user data #}
        CODALAB.state.user.has_competition_admin_privileges = competition => {
            let user = CODALAB.state.user
            if (user.is_superuser || user.is_staff) {
                return true
            }
            let collabs = _.map(competition.collaborators, collab => collab.username)
            return user.username === competition.created_by || collabs.includes(user.username)
        }

        // Load in URLs or other django generated goodies
        URLS = {
            API: "/api/",
            STATIC: function (file_name) {
                return `{{ STATIC_URL }}${file_name}`
            },
            // Websockets
            //WS_SUBMISSION_LISTEN: ""

            // Analytics
            ANALYTICS_API: function (query_parameters) {
                return "{% url "analytics_api" %}" + `?${$.param(query_parameters)}`
            },

            // Competitions
            COMPETITION_MANAGEMENT: "{% url "competitions:management" %}",
            COMPETITION_UPLOAD: "{% url "competitions:upload" %}",
            COMPETITION_ADD: "{% url "competitions:create" %}",
            COMPETITION_DETAIL: function (pk) {
                return "{% url "competitions:detail" pk=0 %}".replace(0, pk)
            },
            COMPETITION_EDIT: function (pk) {
                return "{% url "competitions:edit" pk=0 %}".replace(0, pk)
            },
            SECRET_KEY_URL: function (pk, secret_key) {
                var url = "{% url "competitions:detail" pk=0 %}".replace(0, pk)
                return `{{ DOMAIN_NAME }}${url}?secret_key=${secret_key}`
            },
            COMPETITION_GET_ZIP: function (pk) {
                let urlBase = "{% url "competition-results" pk=0 %}".replace(0, pk)
                return urlBase.slice(0, -1) + ".zip"
            },
            COMPETITION_GET_CSV: function (pk, phase_id) {
                let urlBase = "{% url "competition-results" pk=0 %}".replace(0, pk)
                let urlParam = "?phase=" + phase_id
                return urlBase.slice(0, -1) + ".csv" + urlParam
            },
            COMPETITION_GET_JSON: function (pk) {
                let urlBase = "{% url "competition-results" pk=0 %}".replace(0, pk)
                return urlBase.slice(0, -1) + ".json"
            },
            COMPETITION_GET_JSON_BY_ID: function (pk, phase_id) {
                let urlBase = "{% url "competition-results" pk=0 %}".replace(0, pk)
                let urlParam = "?phase=" + phase_id
                return urlBase.slice(0, -1) + ".json" + urlParam
            },
            // External Competitions - empty string when the feature is disabled
            EXTERNAL_COMPETITIONS_PUBLIC: "{% if EXTERNAL_COMPETITIONS_ENABLED %}{% url 'external_competitions:public' %}{% endif %}",
            // Forums
            FORUM: function (pk) {
                return "{% url "forums:forum_detail" forum_pk=0 %}".replace(0, pk)
            },
            // Datasets
            DATASET_MANAGEMENT: "{% url "datasets:management" %}",
            DATASET_DOWNLOAD: function (key) {
                return "{% url "datasets:download" key=0 %}".replace(0, key)
            },
            DATASET_DOWNLOAD_BY_PK: function (pk) {
                return "{% url "datasets:download_by_pk" pk=0 %}".replace(0, pk)
            },
            DATASET_CREATE: "{% url "datasets:create" %}",
            // Tasks
            TASK_MANAGEMENT: "{% url "tasks:task_management" %}",
            TASK_DETAIL: function (pk) {
                return "{% url "tasks:detail" pk=0 %}".replace(0, pk)
            },
            LOGIN: "{% url 'accounts:login' %}",
            SIGNUP: "{% url 'accounts:signup' %}",

        }
        // Django returns <input type="hidden" value="csrf-token-secret"> so we just grab the `value` attribute from this
        CSRF_TOKEN = $('{% csrf_token %}').attr('value')
    </script>

    <script src="{% static "js/ours/client.js" %}"></script>
    <script src="{% static "js/ours/init.js" %}"></script>
    <script src="{% static "js/ours/riotjs_mixins.js" %}"></script>
    <script src="{% static "js/ours/utils.js" %}"></script>
    <script src="{% static "js/jquery.form.serializer.js" %}"></script>
    <script src="{% static "js/Chart.bundle.js" %}"></script>
    <script src="{% static "js/reconnecting-websocket.min.js" %}"></script>
    <script src="{% static "generated/riot.js" %}"></script>
    <script src="{% static "js/ours/latex_markdown_html.js" %}"></script>

    {% block extra_js %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
</body>
</html>
