{% extends 'base.html' %}

{% block content %}
<div class="sixteen wide mobile six wide computer centered column">
    <h2 class="ui blue centered header">
        Change Password
    </h2>
    <div class="ui stacked segment">
        <p>Reset your password by entering a new one.</p>
        <div class="ui divider"></div>
        <form class="ui form" method="POST">
            {% csrf_token %}
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password"
                           name="new_password1"
                           placeholder="new password"
                           id="id_new_password1"
                           value=""
                           maxlength=""
                           required>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password"
                           name="new_password2"
                           placeholder="repeat new password"
                           id="id_new_password2"
                           value=""
                           maxlength=""
                           required>
                </div>
            </div>
            
            <button class="ui fluid blue submit button" type="submit">Reset password</button>
        </form>
    </div>
</div>
{% endblock %}
