{% extends "registration/registration_base.html" %}


{% block title %}Reset password{% endblock %}

{% block content %}
<div class="sixteen wide mobile six wide computer centered column">
    <h2 class="ui blue centered header">
        Reset password
    </h2>
    <div class="ui stacked segment">
        {% if user.is_authenticated %}
            <div class="ui blue message">
                <p><strong>Note:</strong> you are already logged in as {{ user.username }}.</p>
            </div>
        {% endif %}
        <h5>Forgot your password?</h5>
        <p>Enter your email in the form below and we'll send you instructions for creating a new one.</p>
        <div class="ui divider"></div>
        <form class="ui form" method="POST">
            {% csrf_token %}
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="email"
                           name="email"
                           placeholder="email"
                           id="id_email"
                           value=""
                           maxlength=""
                           required>
                </div>
            </div>
            <button class="ui fluid blue submit button" type="submit">Reset password</button>
            <div class="ui error message"></div>
        </form>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}