{% extends 'base_simple.html' %}
{% load static %}

{% block content %}
    <div class="ui middle aligned center aligned grid registration_top_padding">
        <div class="column">
            <img width="136" height="50" class="ui centered"
                 src="{% static "img/codalab-logo-fullcolor-positive.png" %}">
            <h2 class="ui blue header">
                <div class="content">
                    Create an Account
                </div>
            </h2>
            <form class="ui large form" method="post">
                {% csrf_token %}
                <div class="ui stacked segment">
                    {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        {% if form.username.errors %}
                            <div class="ui red message">{{ form.username.errors }}</div>
                        {% endif %}
                        <label for="{{ form.username.id_for_label }}">Username:</label>
                        {{ form.username }}
                    </div>
                    <div class="fieldWrapper">
                        {% if form.email.errors %}
                            <div class="ui red message">{{ form.email.errors }}</div>
                        {% endif %}
                        <label for="{{ form.email.id_for_label }}">Email:</label>
                        {{ form.email }}
                    </div>
                    <div class="fieldWrapper">
                        {% if form.password1.errors %}
                            <div class="ui red message">{{ form.password1.errors }}</div>
                        {% endif %}
                        <label for="{{ form.password1.id_for_label }}">Password:</label>
                        {{ form.password1 }}
                    </div>
                    <div class="fieldWrapper">
                        {% if form.password2.errors %}

                            <div class="ui red message">{{ form.password2.errors }}</div>
                        {% endif %}
                        <label for="{{ form.password2.id_for_label }}">Password:</label>
                        {{ form.password2 }}
                    </div>
                    <button class="ui fluid large blue submit button" type="submit">Sign-Up</button>
            </form>
            <div class="ui message">
                <h4>Use Github?</h4>
                <a class="ui green submit labeled icon button" href="{% url "social:begin" "github" %}">
                    <i class="github icon"></i>
                    Sign In With GitHub
                </a>
            </div>
        </div>
    </div>
{% endblock %}