{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
         <div class="ui divider"></div>
            <form class="ui large form" method="post">
                <h2 class="ui blue header">
                    Sign-Up
                </h2>
                {% csrf_token %}
                <div class="ui stacked segment">
                    {% for field in form %}
                        <div class="field">
                            <div class="ui left icon input">
                                {% if field.name == 'username' or field.name == 'email' %}
                                    <i class="user icon"></i>
                                {% else %}
                                    <i class="write icon"></i>
                                {% endif %}
                                {{ field }}
                            </div>
                        </div>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    <button class="ui blue submit button" type="submit">Sign-Up</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}