apiVersion: v1
kind: Service
metadata:
  name: flower
  labels:
    app: flower
spec:
  type: ClusterIP
  ports:
  - port: {{ .Values.flower.service.port }}
    targetPort: 5555
  selector:
    app: flower