apiVersion: apps/v1
kind: Deployment
metadata:
  name: site-worker
  labels:
    app: site-worker
spec:
  replicas: {{ .Values.siteWorker.replicas }}
  selector:
    matchLabels:
      app: site-worker
  template:
    metadata:
      labels:
        app: site-worker
        {{- if .Values.siteWorker.metadata }}
        {{- with .Values.siteWorker.metadata.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- end }}
    spec:
      {{- with .Values.siteWorker.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: site-worker
          image: "{{ .Values.siteWorker.image.repository }}:{{ .Values.siteWorker.image.tag }}"
          imagePullPolicy: {{ .Values.siteWorker.image.pullPolicy }}
          workingDir: {{ .Values.siteWorker.workingDir }}
          env:
            - name: PYTHONPATH
              value: {{ .Values.siteWorker.workingDir }}
            - name: DATABASE_URL
              value: "postgres://{{ .Values.db.username }}:{{ .Values.db.password }}@{{ .Values.db.host }}:{{ .Values.db.port }}/{{ .Values.db.name }}"
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: "{{ $value }}"
            {{- end }}
          command:
            - bash
            - -c
            - >
              watchmedo auto-restart -p '*.py' --recursive --
              celery -A celery_config worker -B -Q site-worker -l info
              -n site-worker@%n --concurrency={{ .Values.siteWorker.concurrency }}
          volumeMounts:
            - name: app-state
              mountPath: /app/app-state
      volumes:
        - name: app-state
          persistentVolumeClaim:
            claimName: {{ .Values.siteWorker.volumes.pvcName }}

