version: 2

jobs:
  test:
    machine:
      image: ubuntu-2204:2024.01.2
    resource_class: large
    steps:
      - checkout
      - run:
          name: "Setup: Copy environment variables"
          command: cp .env_circleci .env

      - run:
          name: "Setup: Create directories for MinIO (cannot be made by docker for some reason)"
          command: |
            mkdir -p var/minio/public
            mkdir -p var/minio/private
      - run:
          name: "Setup: Prepare the playwright environment"
          command: |
            cd playwrightPython
            apt update && apt upgrade -y
            curl -LsSf https://astral.sh/uv/install.sh | sh
            $HOME/.local/bin/uv sync
            $HOME/.local/bin/uv run playwright install
      - run:
          name: "Docker: Build containers and collect static files"
          command: |
            docker compose -f docker-compose.yml -f docker-compose.selenium.yml up -d
            docker compose -f docker-compose.yml -f docker-compose.selenium.yml exec django python manage.py collectstatic --noinput
            docker compose -f docker-compose.yml -f docker-compose.selenium.yml exec django python manage.py migrate
            docker compose -f docker-compose.yml exec django python ./manage.py createsuperuser --no-input
      - run:
          name: "Get compute worker and site worker logs"
          command: |
            mkdir dockerLogs
            docker compose logs -f site_worker > dockerLogs/ite_worker.log
            docker compose logs -f compute_worker > dockerLogs/compute_worker.log
          background: true
      - run:
          name: "Lint: Check code style with flake8"
          command: docker compose -f docker-compose.yml -f docker-compose.selenium.yml exec django flake8 src/

      - run:
          name: "Docker: Pull required images"
          # not available without "not e2e" tests as they pull ahead of time
          command: |
            docker pull codalab/codalab-legacy:py37 
            docker pull codalab/codalab-legacy:py3
            docker pull vergilgxw/autotable:v2

      # TODO: Putting E2E tests earlier to make playwright testing faster. Will remove after the PR is merged
      - run:
          name: "Tests: Run end-to-end (E2E) tests"
          command: |
            cd playwrightPython && $HOME/.local/bin/uv run pytest test_auth.py test_account_creation.py test_competition.py test_submission.py
          no_output_timeout: 30m

      - run:
          name: "Tests: Run unit/integration tests (excluding e2e)"
          command: docker compose -f docker-compose.yml -f docker-compose.selenium.yml exec django py.test src/ -m "not e2e"

      # - run:
      #     name: "Tests: Run end-to-end (E2E) tests"
      #     command: docker compose -f docker-compose.yml -f docker-compose.selenium.yml exec django py.test src/tests/functional/ -m e2e
      #     no_output_timeout: 60m

      # TODO: uncomment this block just before the playwright PR is merged
      #- run:
      #    name: "Tests: Run end-to-end (E2E) tests"
      #    command: |
      #      cd playwrightPython && $HOME/.local/bin/uv run pytest test_auth.py test_account_creation.py test_competition.py test_submission.py
      #    no_output_timeout: 30m

      # Example to run specific set of tests (for debugging individual tests from a batch of tests)
      # - run:
      #     name: e2e tests - competitions
      #     command: docker compose -f docker-compose.yml -f docker-compose.selenium.yml exec django py.test src/tests/functional/test_competitions.py -m e2e
      #     no_output_timeout: 60m
      - store_artifacts:
          path: playwrightPython/test-results
      - store_artifacts:
          path: dockerLogs/

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
