{% extends "base.html" %}

{% block content %}
    <search></search>











    {#    <div id="page-modal" class="ui modal">#}
    {#        <i class="close icon"></i>#}
    {#        <div class="header">#}
    {#            Edit page#}
    {#        </div>#}
    {#        <div class="content">#}
    {##}
    {#            <div class="ui form">#}
    {#                <div class="field required">#}
    {#                    <label>Name</label>#}
    {#                    <input/>#}
    {#                </div>#}
    {##}
    {#                <div class="field required">#}
    {#                    <label>Content</label>#}
    {#                    <textarea class="markdown-editor"></textarea>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="actions">#}
    {#            <div class="ui button">Cancel</div>#}
    {#            <div class="ui button primary">Save</div>#}
    {#        </div>#}
    {#    </div>#}


{% endblock %}
