{% extends "base.html" %}

{% block content %}
    <div class="ui middle aligned stackable grid container">
        <div class="row centered">
            <div class="twelve wide column">
                <div class="ui form">
                    <div class="inline fields">
                        <div class="field">

                            {#                                <div class="content">#}
                            {#                                    <div class="ui inline dropdown">#}
                            {#                                        <i class="trophy icon"></i>#}
                            {#                                        <div class="text">Any time</div>#}
                            {#                                        <i class="dropdown icon"></i>#}
                            {#                                        <div class="menu">#}
                            {#                                            <div class="header">Adjust time span</div>#}
                            {#                                            <div class="active item" data-text="today">Today</div>#}
                            {#                                            <div class="item" data-text="this week">This Week</div>#}
                            {#                                            <div class="item" data-text="this month">This Month</div>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                    <div class="ui inline dropdown">#}
                            {#                                        <i class="trophy icon"></i>#}
                            {#                                        <div class="text">Any time</div>#}
                            {#                                        <i class="dropdown icon"></i>#}
                            {#                                        <div class="menu">#}
                            {#                                            <div class="header">Adjust time span</div>#}
                            {#                                            <div class="active item" data-text="today">Today</div>#}
                            {#                                            <div class="item" data-text="this week">This Week</div>#}
                            {#                                            <div class="item" data-text="this month">This Month</div>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            <div class="ui floating labeled icon dropdown button">
                                <i class="filter icon"></i>
                                <span class="text">Any time</span>
                                <div class="menu">
                                    <div class="header">
                                        Timeframe
                                    </div>
                                    <div class="divider"></div>
                                    <div class="item">
                                        Active
                                    </div>
                                    <div class="item">
                                        Started past month
                                    </div>
                                    <div class="item">
                                        Started past year
                                    </div>
                                    <div class="divider"></div>
                                    <div class="header">
                                        Date range
                                    </div>
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        <input type="text" name="search" placeholder="Start date">
                                    </div>
                                    <div class="ui left icon input">
                                        <i class="calendar icon"></i>
                                        <input type="text" name="search" placeholder="End date">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            {#                            <select name="skills" multiple="" class="ui fluid dropdown">#}
                            {#                                <option value="">Attributes (select many)</option>#}
                            {#                                <option value="competition_im_in">Competition I'm in</option>#}
                            {#                                <option value="competition_im_in">Has not</option>#}
                            {#                            </select>#}

                            <div class="ui floating labeled icon dropdown multiple button">
                                <i class="filter icon"></i>
                                <span class="text">Attributes (select many)</span>
                                <div class="menu">
                                    <div class="header">
                                        <i class="tags icon"></i>
                                        Competition filters
                                    </div>
                                    <div class="item">
                                        I'm in
                                    </div>
                                    <div class="item">
                                        Has not finished
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            {#                            <select name="skills" multiple="" class="ui fluid dropdown">#}
                            {#                                <option value="">Sorted by</option>#}
                            {#                            </select>#}

                            <div class="ui floating labeled icon dropdown button">
                                <i class="filter icon"></i>
                                <span class="text">Sorted by</span>
                                <div class="menu">
                                    <div class="item">
                                        Next deadline
                                    </div>
                                    <div class="item">
                                        Prize amount
                                    </div>
                                    <div class="item">
                                        Number of participants
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui">
                    <div class="ui icon input fluid">
                        <input class="prompt" type="text" placeholder="Keywords">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row centered">
            <div class="twelve wide column">
                <div class="ui divided items">
                    <div class="item">
                        <div class="image">
                            <img src="https://semantic-ui.com/images/wireframe/image.png">
                        </div>
                        <div class="content">
                            <a class="header">12 Years a Slave</a>
                            <div class="meta">
                                <span class="cinema">Union Square 14</span>
                            </div>
                            <div class="description">
                                <p></p>
                            </div>
                            <div class="extra">
                                <div class="ui label">IMAX</div>
                                <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="https://semantic-ui.com/images/wireframe/image.png">
                        </div>
                        <div class="content">
                            <a class="header">My Neighbor Totoro</a>
                            <div class="meta">
                                <span class="cinema">IFC Cinema</span>
                            </div>
                            <div class="description">
                                <p></p>
                            </div>
                            <div class="extra">
                                <div class="ui right floated primary button">
                                    Buy tickets
                                    <i class="right chevron icon"></i>
                                </div>
                                <div class="ui label">Limited</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="https://semantic-ui.com/images/wireframe/image.png">
                        </div>
                        <div class="content">
                            <a class="header">Watchmen</a>
                            <div class="meta">
                                <span class="cinema">IFC</span>
                            </div>
                            <div class="description">
                                <p></p>
                            </div>
                            <div class="extra">
                                <div class="ui right floated primary button">
                                    Buy tickets
                                    <i class="right chevron icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row centered">
            <div class="twelve wide column right aligned">
                <div class="ui pagination menu right aligned">
                    <a class="active item">
                        1
                    </a>
                    <div class="disabled item">
                        ...
                    </div>
                    <a class="item">
                        10
                    </a>
                    <a class="item">
                        11
                    </a>
                    <a class="item">
                        12
                    </a>
                </div>
            </div>
        </div>
    </div>











    {#    <div id="page-modal" class="ui modal">#}
    {#        <i class="close icon"></i>#}
    {#        <div class="header">#}
    {#            Edit page#}
    {#        </div>#}
    {#        <div class="content">#}
    {##}
    {#            <div class="ui form">#}
    {#                <div class="field required">#}
    {#                    <label>Name</label>#}
    {#                    <input/>#}
    {#                </div>#}
    {##}
    {#                <div class="field required">#}
    {#                    <label>Content</label>#}
    {#                    <textarea class="markdown-editor"></textarea>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="actions">#}
    {#            <div class="ui button">Cancel</div>#}
    {#            <div class="ui button primary">Save</div>#}
    {#        </div>#}
    {#    </div>#}

    <script>
        $(document).ready(function () {
            $(".ui.dropdown").dropdown()
        })
    </script>

{% endblock %}
