{# Mobile menu, opened by #hamburger_button in components/header.html #}
{# Semantic UI needs the sidebar outside .pusher, so base.html includes it there #}

<div id="mobile_menu" class="ui sidebar right inverted vertical overlay menu">
    <a class="item" href="{% url "competitions:public" %}">
        <i class="trophy icon"></i>
        Benchmarks/Competitions
    </a>
    <a class="item" href="{% url "datasets:public" %}">
        <i class="database icon"></i>
        Datasets
    </a>
    {% if user.is_authenticated %}
        <div class="item mobile-menu-user">
            <i class="user outline icon"></i>
            {{ request.user.username }}
        </div>
        {% include "components/user_menu_items.html" %}
    {% else %}
        <a class="item" href="{% url 'accounts:login' %}">Login</a>
        {% if ENABLE_SIGN_UP %}
            <a class="item" href="{% url 'accounts:signup' %}">Sign-up</a>
        {% endif %}
    {% endif %}
</div>
