{% load static %}
{# Partners section on the home page #}

<div class="partners">
    <h2 class="partners-title">Partners</h2>
    <div class="partners-grid">
        <a class="partner" href="https://www.universite-paris-saclay.fr/" target="_blank" title="Université Paris-Saclay">
            <img src="{% static 'img/partners/paris-saclay.png' %}" alt="Université Paris-Saclay">
        </a>
        <a class="partner" href="https://www.microsoft.com/" target="_blank" title="Microsoft">
            <img src="{% static 'img/partners/microsoft.png' %}" alt="Microsoft">
        </a>
        <a class="partner" href="http://www.chalearn.org/" target="_blank" title="ChaLearn">
            <img src="{% static 'img/partners/chalearn.png' %}" alt="ChaLearn">
        </a>
        <a class="partner" href="http://www.ub.edu/web/ub/en/" target="_blank" title="Universitat de Barcelona">
            <img src="{% static 'img/partners/barcelona.png' %}" alt="Universitat de Barcelona">
        </a>
        <a class="partner" href="https://www.stanford.edu/" target="_blank" title="Stanford University">
            <img src="{% static 'img/partners/stanford.png' %}" alt="Stanford University">
        </a>
        <a class="partner" href="https://www.iledefrance.fr/" target="_blank" title="Région Île-de-France">
            <img src="{% static 'img/partners/idf.jpg' %}" alt="Région Île-de-France">
        </a>
        <a class="partner" href="https://www.inria.fr/" target="_blank" title="Inria">
            <img src="{% static 'img/partners/inria.png' %}" alt="Inria">
        </a>
        <a class="partner" href="https://www.lisn.upsaclay.fr/" target="_blank" title="LISN">
            <img src="{% static 'img/partners/lisn.png' %}" alt="LISN">
        </a>
        <a class="partner" href="https://www.google.com/" target="_blank" title="Google">
            <img src="{% static 'img/partners/google.jpg' %}" alt="Google">
        </a>
        <a class="partner" href="https://en.4paradigm.com/" target="_blank" title="4Paradigm">
            <img src="{% static 'img/partners/4paradigm.jpg' %}" alt="4Paradigm">
        </a>
        <a class="partner" href="https://www.cnrs.fr/" target="_blank" title="CNRS">
            <img src="{% static 'img/partners/cnrs.png' %}" alt="CNRS">
        </a>
        <a class="partner" href="https://anr.fr/" target="_blank" title="ANR">
            <img src="{% static 'img/partners/anr.png' %}" alt="ANR">
        </a>
        <a class="partner" href="https://anr.fr/" target="_blank" title="ANR">
            <img src="{% static 'img/partners/anr2.jpg' %}" alt="ANR">
        </a>
        <a class="partner" href="https://www.eithealth.eu/" target="_blank" title="EIT Health">
            <img src="{% static 'img/partners/eit_health.jpg' %}" alt="EIT Health">
        </a>
    </div>
</div>
