{% load static %}

<div class="supported-by-banner">
    <div class="supported-by">
        <span class="supported-by-label">Supported by</span>
        <!-- LISN logo -->
        <a href="https://www.lisn.upsaclay.fr/" target="_blank">
            <img class="organization-logo" src="{% static 'img/lisn-logo.svg' %}" alt="LISN">
        </a>
        <!-- Université Paris-Saclay logo -->
        <a href="https://www.universite-paris-saclay.fr/" target="_blank">
            <img class="organization-logo" src="{% static 'img/paris-saclay-logo.svg' %}" alt="Université Paris-Saclay">
        </a>
        <!-- CNRS logo -->
        <a href="https://www.cnrs.fr/" target="_blank">
            <img class="organization-logo" src="{% static 'img/cnrs-logo.svg' %}" alt="CNRS">
        </a>
        <!-- Chalearn logo -->
        <a href="http://www.chalearn.org/" target="_blank">
            <img class="organization-logo" src="{% static 'img/chalearn-logo.svg' %}" alt="ChaLearn">
        </a>
    </div>
</div>
