{# Logged-in user menu items, shared by the header dropdown and the mobile menu. #}
{# Logout submits the #logout-form in components/header.html #}

<!-- Admin management -->
<div class="header">Admin management</div>
    <a class="item" href="{% url "pages:server_status" %}">Server Status</a>
    {% if request.user.is_staff %}
        <a class="item" href="{% url "pages:monitor_queues" %}">Monitor Queues</a>
        <a class="item" href="{% url "admin:index" %}">Django Admin</a>
        <a class="item" href="{% url "su_login" %}">Change User</a>
        <a class="item" href="{% url "analytics:analytics" %}">Analytics</a>
    {% endif %}
<div class="ui divider"></div>
<!-- My Resources -->
<div class="header">My Resources</div>
<a class="item" href="{% url 'competitions:management' %}"><i class="icon bi bi-trophy"></i>Competitions</a>
<a selenium="resources" class="item" href="{% url 'tasks:task_management' %}"><i class="icon bi bi-folder"></i>Resources</a>
<a class="item" href="{% url 'queues:management' %}"><i class="icon bi bi-hourglass"></i>Queues</a>
<div class="ui divider"></div>
<!-- Account -->
<div class="header">Account</div>
<a class="item" href="{% url 'profiles:user_profile' username=user.username %}"><i class="icon bi bi-person"></i>View Profile</a>
<a class="item" href="{% url 'profiles:user_edit' username=user.username %}"></i><i class="icon bi bi-pencil-square"></i>Edit profile</a>
<a class="item" href="{% url 'accounts:user_account' username=user.username %}"><i class="icon bi bi-gear"></i>Settings</a>
<a class="item" href="{% url 'profiles:user_notifications' username=user.username %}"></i><i class="icon bi bi-bell"></i>Notifications</a>
<a class="item" href="{% url 'accounts:password_reset' %}"><i class="icon bi bi-lock"></i>Change Password</a>

<a class="item" href="{% url 'accounts:logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();"><i class="icon bi bi-door-open"></i>Logout</a>
<div class="ui divider"></div>

<div class="header">Organizations</div>
{% for org in user.organizations.all %}
    {% if user in org.user_record.all %}
    <a class="item" href="{% url 'profiles:organization_profile' pk=org.id %}">
        <i class="users icon"></i>
        {{ org.name }}
    </a>
    {% endif %}
{% endfor %}
<a class="item" href="{% url 'profiles:organization_create' %}">
    <i class="plus icon"></i>
    Create Organization
</a>
