.center-align {
    text-align: center !important;
}

.delete-cancel {
    margin-right: 10px !important;
}

.form-save {
    float: right !important;
}

.bold-table-row {
    font-weight: bold !important;
}

.add-queue-button {
    float: right !important;
    margin: 10px 0 10px 10px !important;
}

.no-queues {
    display: block !important;
    padding: 20px !important;
    text-align: center !important;
}

/*Todo Fix this class. Styling not holding even though straight on style="" html attr it works*/
.form-table-padding {
    padding-left: 20px !important;
}
