.announcement-container
  width 100%

.container-content.announcements
  text-align left

  .announcement
    margin 0 0 1em

    &:last-child
      margin-bottom 0

    .announcement-body
      margin-top 0.4em

      p
        margin 0 0 0.5em

      p:last-child
        margin-bottom 0

      a, a:hover
        color inherit
        font-weight bold
        text-decoration underline

  .announcement.ui.message
    align-items flex-start

    > .icon
      font-size 2em

  .announcement.plain
    color #4a4a4a

    .header
      font-weight bold
      font-size 1.14em

    .announcement-body a, .announcement-body a:hover
      color #4183c4
