/* --------------------------------------------------------------------------------------
    ********************************** Color Reference **********************************

    Jumbotron Background Color [Dark Blue]: rgba(19, 48, 70, 0.9)

    Button Text Color [Light Grey]: #e2e2e2
    Button Background Color [White, Low Opacity]: rgba(255, 255, 255, .15)

    Button Text Color w/ Hover [Lighter Grey]: #3f3f3f
    Button Background Color w/ Hover [White, Medium Opacity]: rgba(255, 255, 255, .65)

    Competition Tile Color [Lighter Blue]: #4a6778
    Competition Tile Color [Darker Red]: #c7402d
*/

/* --------------------------------------------------------------------------------------
 misc styles for base template

 header/background
 */
html
    background-color #f6f8fa

#bg
    z-index -1
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background rgba(19, 48, 70, 0.9)

#jumbo_logo
    margin-top 20px
    width 35%

.organization-logos
    position absolute
    bottom 5px
    right 0


.organization-logo
    height 30px
    margin-right 5px

#home-logo
    margin-left: 8px;
    margin-right: 8px;

.right.item
    position absolute !important
    right 0
    top 9px


.left.item
    position absolute !important
    left 0
    top 9px

.ui.secondary.inverted.pointing.menu
    border transparent

.jumbotron
    padding 0 0 2em 0 !important

    .subtitle
        color #b7c9d69c
        font-size 1rem

.style_button
    color #e2e2e2
    background-color rgba(255, 255, 255, .15)
    font-weight 100

.style_button:hover
    color #3f3f3f
    background-color rgba(255, 255, 255, .65)
    .icon
        opacity 1

#user_dropdown
    color rgba(255,255,255,.7) !important

    a
        width 100%
        border-radius 0 !important

#competition_dropdown
    color rgba(255,255,255,.7) !important

    a
        width 100%
        border-radius 0 !important

.masthead
    position relative

    .logo.item img
        margin-right 1em

    .ui.menu .ui.button
        margin-left 0.5em

    .ui.menu
        margin 0

    .menu .toc.item
        display none

    h1.ui.header
        margin-top 3em
        margin-bottom 0
        font-size 4em
        font-weight normal

    h2
        font-size 1.7em
        font-weight normal

    h3
        font-size 2em

    .button + h3,

    p + h3
        margin-top 3em

    .floated.image
        clear both

    p
        font-size 1.33em

    .horizontal.divider
        margin 3em 0

.quote.stripe.segment
    padding 0

    .grid .column
        padding-top 5em
        padding-bottom 5em

#page_content
    min-height 82vh
    margin-bottom 50px

#header
    background transparent
    margin-bottom 20px

    .ui.menu .ui.dropdown .menu>.item
        color rgba(0, 0, 0, 0.6) !important

    .icon.user.outline
        margin-right 0

#toast-container
    opacity 0.8
    margin-top 3em
    margin-right 0.5em

.ui.text.container.style_button
    bottom 0!important

/* --------------------------------------------------------------------------------------
 top menu/dropdowns
 */
.ui.thin.sidebar
    z-index 3


/* --------------------------------------------------------------------------------------
 footer
 */

.footer
    &.segment
        padding 2em 0

/* --------------------------------------------------------------------------------------
 mobile
 */
@media only screen and (max-width 625px)
    .tl.item
        display none!important

#hamburger_button
        position absolute
        top 14px
        left 19px
        z-index 100

        .button
            color #e2e2e2 !important
            background-color rgba(255, 255, 255, .15) !important

        .button:hover
            color #3f3f3f !important
            background-color rgba(255, 255, 255, .65) !important

        .icon
            display inherit
            cursor pointer
            margin 0

        @media screen and (min-width 626px)
            display none

    .secondary.pointing.menu .toc.item
        display block

    .masthead h1.ui.header
        font-size 2em
        margin-top 1.5em

    .masthead h2
        margin-top 0.5em
        font-size 1.5em

/* --------------------------------------------------------------------------------------
 Force the footer to stretch all the way to the bottom of viewport
 */
body.pushable>.pusher
    background-color #f6f8fa !important
    overflow initial

.pushable
    height 0

.pusher > .footer
    flex 1

/* --------------------------------------------------------------------------------------
 Fix padding on menus
 */
.ui.menu .ui.dropdown .menu>.item
    margin-top -0.6em !important



/* --------------------------------------------------------------------------------------
 For competition-wide search bar
 */
.search-width
    width 25em !important


.scrollable-height-limit
    max-height 25em !important
    overflow-y scroll !important

#site-wide-competition-search .description
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp 5
    overflow hidden

/* --------------------------------------------------------------------------------------
 Modals
 */
.modals
    .modal
        max-height 90vh
        overflow-y scroll

#version
    margin-top 10px
    text-align center
    font-family monospace
    font-size 12px
    font-weight bold
    padding 5px
    color #8b8d8d

#version a 
    text-decoration none
    color inherit