/* --------------------------------------------------------------------------------------
 misc styles for base template

 header/background
 */
#bg
    z-index -1
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background rgba(19, 48, 70, 0.9)

.ui.secondary.inverted.pointing.menu
    border transparent

.jumbotron
    min-height 450px
    padding 1em 0

#style_button
    color #e2e2e2!important
    background-color rgba(255, 255, 255, .15)!important
    font-weight 100!important
    box-shadow none!important

#style_button:hover
    color #3f3f3f!important
    background-color rgba(255, 255, 255, .65)!important
    box-shadow none!important
    .icon
        opacity 1 !important

.ui.dropdown
    position absolute!important
    right 1em!important
    top 16px!important
    color rgba(255,255,255,.7)!important
    text-align right!important
    a
        width 100%
        border-radius 0!important

.fixed.menu
    background-color rgba(19, 48, 70, 0.95)!important
    a
        color rgba(255,255,255,.7)!important
    .item:before
        width 0

    .dropdown.item
        top 0!important
        right 0!important

.masthead
    position relative

    .logo.item img
        margin-right 1em

    .ui.menu .ui.button
        margin-left 0.5em

    .ui.menu
        margin 0

    .menu .toc.item
        display none

    h1.ui.header
        margin-top 3em
        margin-bottom 0
        font-size 4em
        font-weight normal

    h2
        font-size 1.7em
        font-weight normal

    h3
        font-size 2em

    .button + h3,
    p + h3
        margin-top 3em

    .floated.image
        clear both

    p
        font-size 1.33em

    .horizontal.divider
        margin 3em 0

.quote.stripe.segment
    padding 0

    .grid .column
        padding-top 5em
        padding-bottom 5em

.hidden.menu
    display none

.forced-full-height
    min-height 100% !important

.fix-right-bleed
    right 0 !important
    left auto !important

#topleft_menu.toc.item
    left 0
    top 0
    margin-top 0!important

#topleft_menu
/* --------------------------------------------------------------------------------------
 top menu/dropdowns
 */
.ui.thin.sidebar
    z-index 3

#header
    background transparent
    margin-bottom 20px

    .ui.menu .ui.dropdown .menu>.item
        color rgba(0, 0, 0, 0.6) !important

    .icon.user.outline
        // User profile icon
        margin-right 0



/* --------------------------------------------------------------------------------------
 footer
 */

.footer
    margin-top 20px !important
    &.segment
        padding 5em 0

.secondary.pointing.menu .toc.item
    display none

/* --------------------------------------------------------------------------------------
 mobile
 */
@media only screen and (max-width 625px)
    .tl.item
        display none!important

#hamburger_button
        position absolute
        top 18px
        left 2em
        z-index 100

        .button
            color #e2e2e2 !important
            background-color rgba(255, 255, 255, .15) !important


        .button:hover
            color #3f3f3f !important
            background-color rgba(255, 255, 255, .65) !important

        .icon
            display inherit
            cursor pointer
            margin 0

        @media screen and (min-width 626px)
            display none

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu
        display none

    .secondary.pointing.menu .toc.item
        display block

    .masthead h1.ui.header
        font-size 2em
        margin-top 1.5em

    .masthead h2
        margin-top 0.5em
        font-size 1.5em

/* --------------------------------------------------------------------------------------
 Force the footer to stretch all the way to the bottom of viewport
 */
.pusher
    display flex
    min-height 100vh
    flex-direction column

.pusher > .footer
    flex 1


/* --------------------------------------------------------------------------------------
 Fix padding on menus
 */
.ui.floating.dropdown > .menu {
    margin-top: 0.1em !important;
}
