// Hide all file inputs
input[type="file"]
    display none

// Fix input icon border bug
.ui[class*="left action"].input > .dropdown
    border-radius 0
    border-bottom-right-radius 4px
    border-top-right-radius 4px


.editor-toolbar
    border-color #dddddd
    border-style solid
    border-width 1px 1px 0 1px

// Smaller markdown editor
.smaller-mde
    .CodeMirror
        height 150px
        min-height 150px



// Make search icons less apparent
.ui[class*="left icon"].input>i.icon.search
    opacity .2

//
//.ui.action.file.input > input {
//    display: none;
//}
//.ui.action.file.input:not([class*="left action"]) > label {
//    border-top-right-radius: 0 !important;
//    border-bottom-right-radius: 0 !important;
//    border-right-color: transparent !important;
//}
//.ui.action.file.input > label:first-child {
//    cursor: pointer;
//    width: auto;
//    -webkit-box-flex: 1;
//    -webkit-flex: 1 0 auto;
//    -ms-flex: 1 0 auto;
//    flex: 1 0 auto;
//    outline: 0;
//    -webkit-tap-highlight-color: rgba(255,255,255,0);
//    padding: .67861429em 1em;
//    background: #FFF;
//    border: 1px solid rgba(34,36,38,.15);
//    color: rgba(0,0,0,.87);
//    border-radius: .28571429rem;
//    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
//    transition: box-shadow .1s ease,border-color .1s ease;
//    box-shadow: none;
//}
//.ui.action.file.input > label:last-child {
//    border-radius: 0 .28571429rem .28571429rem 0 !important;
//}

/******************************************************************************
 Form animations / progress bar
 */

.progress
    transition all .1s ease-in-out
    margin 0
    height 0
    -ms-flex 1 0 auto
    flex 1 0 auto
    overflow hidden

.coda-animated
    max-height 1000px  // a max height we'll never hit, useful for CSS transitions
    transition all .15s ease-in-out

.coda-animated-slow
    max-height 1000px  // a max height we'll never hit, useful for CSS transitions
    transition all .3s ease-in-out


.progress .bar
    height 24px

// Login and Sign up forms

.form-divider-words
    padding 0 20px !important

.form-divider-line
    padding 5px 0 !important
