body
  -webkit-font-smoothing antialiased
  font-family Roboto, sans-serif
  background-color $cb-page-bg
  color #2e2e2e !important

#page_content
  margin 0.5em

// Used by the analytics page
.ui.statistic
  flex 1 1 auto
  text-align: center
  width: 100%

  .value
    font-weight 800

  .label
    font-weight 100
