@import "src/static/stylus/variables.styl"
@import "src/static/stylus/base_template.styl"
@import "src/static/stylus/components/header.styl"
@import "src/static/stylus/components/mobile_menu.styl"
@import "src/static/stylus/components/footer.styl"
@import "src/static/stylus/components/announcements.styl"
@import "src/static/stylus/components/benchmarks.styl"
@import "src/static/stylus/components/get_started.styl"
@import "src/static/stylus/components/stats.styl"
@import "src/static/stylus/components/about.styl"
@import "src/static/stylus/components/news.styl"
@import "src/static/stylus/components/citation.styl"
@import "src/static/stylus/components/partners.styl"
@import "src/static/stylus/components/supported_by_banner.styl"
@import "src/static/stylus/components/platform_announcements_banner.styl"
@import "src/static/stylus/external_competitions.styl"
@import "src/static/stylus/home.styl"
@import "src/static/stylus/forms.styl"
@import "src/static/stylus/mixins.styl"
@import "src/static/stylus/modals.styl"
@import "src/static/stylus/search.styl"
@import "src/static/stylus/simple_page.styl"
@import "src/static/stylus/toastr.styl"
@import "src/static/stylus/forum.styl"
@import "src/static/stylus/server_status.styl"

