@import "src/static/stylus/base_template.styl"
@import "src/static/stylus/home.styl"
@import "src/static/stylus/forms.styl"
@import "src/static/stylus/search.styl"
@import "src/static/stylus/simple_page.styl"
