$blue = #2c3f4c
$teal = #00bbbb
$lightblue = #f2faff

#delete_user_modal > .header
    background #DB2828 !important
    color white !important

.submission_output
    white-space pre-line
    background #1b1c1d
    color #efefef
    overflow-y scroll
    padding 15px

.submission_output::-webkit-scrollbar
    background-color #efefef

.submission_output::-webkit-scrollbar-button
    background-color #828282

.submission_output::-webkit-scrollbar-track
    background-color green

.submission_output::-webkit-scrollbar-track-piece
    background-color #efefef

.submission_output::-webkit-scrollbar-thumb
    background-color #575757
    border-radius 0

.broker_url
    width 100%
    resize none
    outline none
    border none

.ui.modal
  table
    color $blue !important

    thead th
        color $blue !important
        background-color $lightblue !important
