.ui.search .prompt
    // Value from semantic default input
    border-radius .28571429rem

#competition-search
    // Value from semantic default input
    border-radius 500rem



.result .content
    text-align left
