.pagination-nav
    padding 10px 0
    width 100%
    margin-bottom 20px
    display flex
    justify-content center
    align-items center
    position relative

.float-left
    position absolute
    left 0

.float-right
    position absolute
    right 0

.center
    text-align center
