#simple_page
    background-color #DADADA


    & > .grid
        height 100%


    .image
        margin-top -100px


    .column
        max-width 450px

    .registration_margin
        margin-top 20px

    .registration_logo_margin
        margin-left -45%
