{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="ui container">
        <div class="ui raised compact segment">
            <h1 class="header">Notifications:</h1>
            <div class="ui form" id="notification_form">
                <div class="inline field">
                    <div class="ui toggle checkbox">
                        <input name="organizer_direct_message_updates" type="checkbox" tabindex="0" class="hidden">
                        <label>Allow Emails from Competition Organizers</label>
                    </div>
                </div>
                <div class="inline field">
                    <div class="ui toggle checkbox">
                        <input name="allow_forum_notifications" type="checkbox" tabindex="0" class="hidden">
                        <label>Allow Emails for Forum Notifications</label>
                    </div>
                </div>
                <div class="inline field">
                    <div class="ui toggle checkbox">
                        <input name="allow_organization_invite_emails" type="checkbox" tabindex="0" class="hidden">
                        <label>Allow Invite Emails for Organizations</label>
                    </div>
                </div>
                <div class="ui button primary" onclick="{self.submit_notifications()}">Submit</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        self.user = {{ notifications | safe }}
        $(document).ready(function () {
            $('.ui.checkbox').checkbox()
            $('#notification_form').form('set values', {
                organizer_direct_message_updates: self.user.organizer_direct_message_updates,
                allow_forum_notifications: self.user.allow_forum_notifications,
                allow_organization_invite_emails: self.user.allow_organization_invite_emails,
            })
        })
        self.submit_notifications = () => {
            let values = $('#notification_form').form('get values')
            for(let val in values) {
                if(values[val] === 'on'){
                    values[val] = true
                }
            }
            CODALAB.api.update_user_details(self.user.id, values)
                .done((resp) => {
                    toastr.success("Saved")
                    setTimeout(function (){window.location.href = '/';}, 500)
                })
                .fail((errors) => {
                    toastr.error('An Error has occurred')
                })
        }
    </script>
{% endblock %}
