{% extends "queues/base_queues.html" %}

{% block head_title %}Queues list{% endblock %}
{% block page_title %}<h2>Queues list</h2>{% endblock page_title %}

{% block content %}
    <div class="ui message container">
        <a href="https://github.com/codalab/codalab-competitions/wiki/Dev-Worker-Queues"><i class="ui question icon"></i> Read more about Worker Queues here.</a>

        <a href="{% url "queues:create" %}" class="ui blue button" style="float: right; margin: 10px 0 10px 10px;">
            Add Queue
        </a>

        <table class="ui celled striped table">
            <thead>
                <tr style="font-weight: bold;">
                    <td>Name</td>
                    <td>Broker URL</td>
                    <td width="100px;">Is public?</td>
                    <td width="150px;">Actions</td>
                </tr>
            </thead>
            <tbody>
            {% for queue in object_list %}
                <tr>
                    <td>{{ queue.name }}</td>
                    <td>{{ queue.broker_url }}</td>
                    <td>{% if queue.is_public %}<i class="glyphicon glyphicon-ok"></i>{% endif %}</td>
                    <td>
                        {% if queue in request.user.queues.all %}
                            <a href="{% url "queues:update" pk=queue.pk %}" class="ui button">Edit</a>
                            <a href="{% url "queues:delete" pk=queue.pk %}" class="ui red button">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">
                        <i style="display: block; padding: 20px; text-align: center;">No queues created, yet!</i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}