{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui message">
                <h2>{{ comp.title }}</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices euismod fringilla. Nam
                    ut
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ui sixteen wide column">
            <div class="container">
                <div class="ui blue secondary pointing inverted menu">
                    <a class="active item">
                        Overview
                    </a>
                    <a class="item">
                        Evaluation
                    </a>
                    <a class="item">
                        Terms and Conditions
                    </a>
                    <a class="item">
                        Files
                    </a>
                </div>
                <div class="ui grid">
                    <div class="four wide column">
                        <div class="ui vertical fluid blue tabular menu">
                            <a class="active item">
                                Bio
                            </a>
                            <a class="item">
                                Pics
                            </a>
                            <a class="item">
                                Companies
                            </a>
                            <a class="item">
                                Links
                            </a>
                        </div>
                    </div>
                    <div class="twelve wide stretched column">
                        <div class="ui message">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices euismod
                                fringilla.
                                Nam
                                ut
                                ligula
                                rhoncus, semper nibh quis, tincidunt neque. Fusce eget condimentum elit. Vivamus in arcu
                                interdum,
                                semper massa sit amet, lobortis nulla. Fusce fermentum, ex ac accumsan viverra, felis
                                nulla
                                vestibulum
                                nulla, sed rhoncus ligula libero ut lorem. Donec odio tortor, consequat non purus in,
                                interdum
                                posuere
                                ipsum. Pellentesque vulputate nunc efficitur enim ultricies, nec auctor urna sagittis.
                                Vivamus
                                sodales
                                facilisis rutrum. Etiam volutpat mi ac volutpat rutrum. Cras vel nunc vitae nisl sodales
                                dictum
                                eget
                                vitae nulla. Cras vitae aliquet justo. Morbi varius libero tellus. Fusce eget felis eu
                                ante
                                mollis
                                dignissim.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="centered row">
        <div class="five wide column">
            <h4 class="ui top attached header">
                Public Submissions
            </h4>
            <div class="ui attached message">
                <div class="ui relaxed divided list">
                    <div class="item">
                        <div class="content">
                            <div class="header">Snickerdoodle</div>
                            An excellent companion
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Poodle</div>
                            A poodle, its pretty basic
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Paulo</div>
                            He's also a dog
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column">
            <h4 class="ui top attached header">
                Public Submissions
            </h4>
            <div class="ui attached message">
                <div class="ui relaxed divided list">
                    <div class="item">
                        <div class="content">
                            <div class="header">Snickerdoodle</div>
                            An excellent companion
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Poodle</div>
                            A poodle, its pretty basic
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Paulo</div>
                            He's also a dog
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column">
            <h4 class="ui top attached header">
                Comment Feed
            </h4>
            <div class="ui attached message">
                <div class="ui relaxed divided list">
                    <div class="item">
                        <div class="content">
                            <div class="header">Snickerdoodle</div>
                            An excellent companion
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Poodle</div>
                            A poodle, its pretty basic
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Paulo</div>
                            He's also a dog
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui stacked message">
                <h5>Competition Run Time</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="four wide column">
            <div class="ui message">
                <h5>Statistics</h5>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui message">
                <h5>
                    Points and Tiers?
                </h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui message">
                <h5>Competition Tags</h5>
            </div>
        </div>
    </div>
    {#</div>#}
{% endblock %}