{% extends "base.html" %}

{% block content %}
    <div class="ui middle aligned stackable grid container">
        <div class="row centered">
            <div class="twelve wide column">
                <div class="ui top  pointing secondary menu">
                    <a class="active item" data-tab="competition_details">Competition details</a>
                    <a class="item" data-tab="pages">Pages</a>
                    <a class="item" data-tab="phases">Phases</a>
                    <a class="item" data-tab="leaderboard">Leaderboard</a>
                    <a class="item" data-tab="collaborators">Collaborators</a>
                </div>
                <div class="ui bottom active tab" data-tab="competition_details">
                    <div class="ui form">
                        <div class="field required">
                            <label>Title</label>
                            <input/>
                        </div>

                        <div class="two fields">
                            <div class="ui calendar field required">
                                <label>Start</label>
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text">
                                </div>
                            </div>

                            <div class="ui calendar field">
                                <label>End</label>
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text">
                                </div>
                            </div>
                        </div>

                        <div class="field required">
                            <label>Description</label>
                            <textarea class="markdown-editor"></textarea>
                        </div>
                        {#                        <div class="field">#}
                        {#                            <label>Short Text</label>#}
                        {#                            <textarea rows="2"></textarea>#}
                        {#                        </div>#}
                    </div>
                </div>

                <div class="ui bottom tab" data-tab="pages">
                    <button class="ui primary button modal-button" data-modal-id="page-modal">
                        <i class="add circle icon"></i> Create new page
                    </button>

                    <div class="ui top vertical centered segment grid">

                        <div class="five wide column">

                            <div class="ui one cards">
                                <a class="green card">
                                    <div class="content">
                                        <i class="right floated chevron down icon"></i>
                                        <i class="right floated chevron up icon"></i>
                                        <div class="header">Why do this?</div>
                                    </div>
                                    <div class="extra content">
                                        <span class="left floated like">
                                            <i class="edit icon"></i>
                                            Edit
                                        </span>
                                        <span class="right floated star">
                                            <i class="delete icon"></i>
                                            Delete
                                        </span>
                                    </div>
                                </a>

                                <a class="green card">
                                    <div class="content">
                                        <i class="right floated chevron down icon"></i>
                                        <i class="right floated chevron up icon"></i>
                                        <div class="header">How to determine something</div>
                                    </div>
                                    <div class="extra content">
                                        <span class="left floated like">
                                            <i class="edit icon"></i>
                                            Edit
                                        </span>
                                        <span class="right floated star">
                                            <i class="delete icon"></i>
                                            Delete
                                        </span>
                                    </div>
                                </a>

                                <a class="green card">
                                    <div class="content">
                                        <i class="right floated chevron down icon"></i>
                                        <i class="right floated chevron up icon"></i>
                                        <div class="header">Testing something</div>
                                    </div>
                                    <div class="extra content">
                                        <span class="left floated like">
                                            <i class="edit icon"></i>
                                            Edit
                                        </span>
                                        <span class="right floated star">
                                            <i class="delete icon"></i>
                                            Delete
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="eleven wide column">
                            <div class="ui text centered fluid">

                            </div>

                            <img src="https://semantic-ui.com/images/wireframe/paragraph.png">
                        </div>
                    </div>


                    {#                    <div class="ui form">#}
                    {#                        <div class="field">#}
                    {#                            <label>Select page...</label>#}
                    {#                            <select class="ui dropdown">#}
                    {#                                <option value="test">Test</option>#}
                    {#                                <option value="test">Test</option>#}
                    {#                                <option value="test">Test</option>#}
                    {#                                <option value="test">Test</option>#}
                    {#                            </select>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>

                <div class="ui bottom tab" data-tab="phases">
                    <button class="ui primary button modal-button" data-modal-id="phase-modal">
                        <i class="add circle icon"></i> Create new phase
                    </button>

                    <div class="ui top vertical centered segment grid">

                        <div class="ten wide column">

                            <div class="ui one cards">
                                <a class="green card">
                                    <div class="content">
                                        <i class="right floated chevron down icon"></i>
                                        <i class="right floated chevron up icon"></i>
                                        <div class="header">Why do this?</div>
                                        <div class="description">
                                            Matthew is an interior designer living in New York.
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <span class="left floated like">
                                            <i class="edit icon"></i>
                                            Edit
                                        </span>
                                        <span class="right floated star">
                                            <i class="delete icon"></i>
                                            Delete
                                        </span>
                                    </div>
                                </a>

                                <a class="red card">
                                    <div class="content">
                                        <i class="right floated chevron down icon"></i>
                                        <i class="right floated chevron up icon"></i>
                                        <div class="header">How to determine something</div>
                                        <div class="description">
                                            Matthew is an interior designer living in New York.
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <span class="left floated like">
                                            <i class="edit icon"></i>
                                            Edit
                                        </span>
                                        <span class="right floated star">
                                            <i class="delete icon"></i>
                                            Delete
                                        </span>
                                    </div>
                                </a>

                                <a class="orange card">
                                    <div class="content">
                                        <i class="right floated chevron down icon"></i>
                                        <i class="right floated chevron up icon"></i>
                                        <div class="header">Testing something</div>
                                        <div class="description">
                                            Matthew is an interior designer living in New York.
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <span class="left floated like">
                                            <i class="edit icon"></i>
                                            Edit
                                        </span>
                                        <span class="right floated star">
                                            <i class="delete icon"></i>
                                            Delete
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui bottom tab" data-tab="leaderboard">
                    <button class="ui primary button modal-button" data-modal-id="page-modal">
                        <i class="add circle icon"></i> Create new leaderboard
                    </button>

                </div>

                <div class="ui bottom tab" data-tab="collaborators">
                    <button class="ui primary button modal-button" data-modal-id="collaborator-modal">
                        <i class="add circle icon"></i> Add new collaborator
                    </button>

                    <h2>Collaborators</h2>
                    <table class="ui celled table">
                        <thead>
                        <tr>

                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Eric Carmichael</td>
                            <td class="right aligned collapsing">
                                <button class="ui button red">Remove</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row centered">
            <button class="ui primary button disabled">
                Save
            </button>
            <button class="ui button">
                Discard
            </button>
        </div>
    </div>


    <div id="page-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Edit page
        </div>
        <div class="content">

            <div class="ui form">
                <div class="field required">
                    <label>Name</label>
                    <input/>
                </div>

                <div class="field required">
                    <label>Content</label>
                    <textarea class="markdown-editor"></textarea>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button primary">Save</div>
        </div>
    </div>


    <div id="phase-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Edit phase
        </div>
        <div class="content">

            <div class="ui form">
                <div class="field required">
                    <label>Name</label>
                    <input/>
                </div>

                <div class="two fields">
                    <div class="ui calendar field required">
                        <label>Start</label>
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text">
                        </div>
                    </div>

                    <div class="ui calendar field">
                        <label>End</label>
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text">
                        </div>
                    </div>
                </div>

                <div class="field required smaller-mde">
                    <label>Description</label>
                    <textarea class="markdown-editor"></textarea>
                </div>

                <div class="three fields">
                    <div class="field">
                        <label>Input Data</label>
                        <select class="ui dropdown">
                            <option value="test">Test</option>
                            <option value="test">Test</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Reference Data</label>
                        <select class="ui dropdown">
                            <option value="test">Test</option>
                            <option value="test">Test</option>
                        </select>
                    </div>
                    <div class="field required">
                        <label>Scoring Program</label>
                        <select class="ui dropdown">
                            <option value="test">Test</option>
                            <option value="test">Test</option>
                        </select>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Ingestion Program</label>
                        <select class="ui dropdown">
                            <option value="test">Test</option>
                            <option value="test">Test</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Public Data</label>
                        <select class="ui dropdown">
                            <option value="test">Test</option>
                            <option value="test">Test</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Starting Kit</label>
                        <select class="ui dropdown">
                            <option value="test">Test</option>
                            <option value="test">Test</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button primary">Save</div>
        </div>
    </div>


    <div id="collaborator-modal" class="ui mini modal">
        <i class="close icon"></i>
        <div class="header">
            Edit collaborator
        </div>
        <div class="content">

            <div class="ui form">
                <div class="field required">
                    <label>Collaborator email</label>
                    <input/>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button primary">Add</div>
        </div>
    </div>


    <script>
        // tabs
        $('.menu .item').tab()

        // datetime pickers
        $('.calendar.field').calendar({
            type: 'date',
            popupOptions: {
                position: 'bottom left',
                lastResort: 'bottom left',
                hideOnScroll: false
            }
        })

        // Make dropdowns work
        $('select.dropdown').dropdown()

        // Make modals work
        $('.ui.modal').modal()

        // awesome markdown editor
        $('.markdown-editor').each(function (i, ele) {
            new SimpleMDE({element: ele})
        })

        // modals
        $('.modal-button').click(function () {
            $('#' + $(this).attr('data-modal-id')).modal('show')
        })
    </script>
{% endblock %}
