name: tests
on: [push]
jobs:
  tests:
    runs-on: self-hosted
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: "Setup: Copy environment variables"
        run: cp .env_circleci .env
      - name: "Setup: Create directories for MinIO (cannot be made by docker for some reason)"
        run: | 
         sudo mkdir -p var/minio/public
         sudo mkdir -p var/minio/private
      
      - name: "Setup: Prepare the playwright environment"
        run: |
            cd tests
            npm install
      - name: "Docker: Build containers and collect static files"
        run: |
            docker compose -f docker-compose.yml -f docker-compose.selenium.yml -f docker-compose.playwright.yml up -d
            docker compose -f docker-compose.yml -f docker-compose.selenium.yml exec django python manage.py collectstatic --noinput
            docker compose -f docker-compose.yml -f docker-compose.selenium.yml exec django python manage.py migrate
            docker compose -f docker-compose.yml exec django python ./manage.py createsuperuser --no-input
      - name: "Lint: Check code style with flake8"
        run: docker-compose exec django flake8 src/

      - name: "Tests: Run unit/integration tests (excluding e2e)"
        run: docker compose -f docker-compose.yml -f docker-compose.selenium.yml exec django py.test src/ -m "not e2e"
      - name: "Tests: Run end-to-end (E2E) tests"
        run: cd tests && PW_TEST_CONNECT_WS_ENDPOINT=ws://127.0.0.1:3000/ npx playwright test